%h1 Create New User

%form(method="post" action="/users")
  %input(type="text" placeholder="username" name="username")
  %br
  %input(type="password" placeholder="password" name="password")
  %br
  %input(type="submit")
